:root {
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --soft-red: hsl(14, 88%, 65%);
    --dark-desaturated-blue: hsl(238, 29%, 16%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
}

.hero {
    background-image: url(./images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    text-align: center;
    padding-bottom: 125px;
}

.hero img {
    width: 240px;
    margin-top: -110px;
    margin-left: -120px;
    position: absolute;
} 

.container {
    background-color: #fff;
    border-radius: 2em;
    margin: 9.5em 2em;
    padding: 0 1.5em 2em 1.5em;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1em;
    color: var(--dark-desaturated-blue);
}

.qaa::after {
    content: '';
    background:hsl(240, 5%, 91%);
    height: 1px;
    display: block;
    margin: 1rem 0;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.question {
    color: var(--very-dark-grayish-blue);
    font-size: .8rem;
}

.question:hover {
    color: var(--soft-red);
    cursor: pointer;
}

#a1,
#a2,
#a3,
#a4,
#a5 {
    display:none;
    color: var(--dark-grayish-blue);
    margin-top: 1rem;
    font-size: .7rem;
    max-width: 90%;
}

