*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
}

.container {
    background-color: #fff;
    border-radius: 2em;
    margin: 12em 2em;
    padding: 2em;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qaa::after {
    border: 1px solid hsl(240, 5%, 91%);
    height: 1px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}